@font-face {
    font-family: yekan;
    src: url("../fonts/iranyekanwebbold.ttf")
}

* {
    font-family: yekan;
    font-size: 10px;
}

#first {
    /* border: 10px solid; */
    /* border-color: green; */
    /* width: 1100px;
    height: 100px; */
    padding: 20px;
}

#second {
    font-size: 2rem;
    /* margin: 20px; */
    /* padding: 20px; */
}

#s-1 {
    font-size: 3rem;
}

#s-2 {
    font-size: 1.5rem;
}


@media screen and (min-width:100px) and (max-width:499px) {
    .small {
        width: 100px;
        height: 200px;
    }
}

@media only screen and (min-width:500px) and (max-width:999px) {
    .large {
        width: 500px;
        height: 400px;
    }
}

@media screen and (min-width:1000px) and (max-width:1380px) {
    .xlarge {
        width: 800px;
        height: 500px;
    }
}